.cat__back{
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 12px;
  transition: $default-transition-settings;
  img{
    transition: $default-transition-settings;
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}
.cat__back-btn{
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  transition: $default-transition-settings;

}
.cat__card{
  margin-top: 36px;
  display: flex;
}
.cat__card-img{
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 16px;
  }
}
.cat__card-title{
  margin-left: 60px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
.cat__card-name{
  color: $color-font-base;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
.cat__card-price{
  color: $color-font-base;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.cat__card-price-free{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.card-anim-enter-active,
.card-anim-leave-active {
  transition: all 0.5s;
}

.card-anim-enter,
.card-anim-leave-to {
  opacity: 0;
}
.animated.fadeInUp {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.cat__card-img {
  height: 300px; // задаем высоту контейнера
  img {
    width: 100%; // чтобы картинка занимала всю ширину контейнера
    height: 100%; // чтобы картинка занимала всю высоту контейнера
    object-fit: cover; // чтобы картинка занимала все пространство контейнера без искажений
  }
}