// color
$color-white: #ffffff;
$color-black: #000000;
$color-font-base: #362F62;
$color-decoration: #724DF0;
$default-transition-settings:       0.3s ease;

$font-family: "Montserrat", "Arial", sans-serif;

$viewport--sm:                      320px;
$viewport--sm--extra:               450px;
$viewport--md--extra:               576px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--lg--extra:               1200px;
$viewport--xl:                      1400px;
$viewport--xxl:                     1920px;